@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Proyecto subido a <a href="https://github.com/Jose-Cab/Prueba.git">https://github.com/Jose-Cab/Prueba.git</a>.</p>
    

</div>
